.nav{
    overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
    background-color: transparent;
    display: flex;
    padding: 25px 200px;
   
    
}
.navMain{
    color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.navMain ul{
    
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.navMain .icons{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navMain ul a{
    color: white;
    text-decoration: none;
}
.navMain ul a:hover{
    color: rgb(220, 5, 5);
}
.navMain a .logo{
    background-color: transparent;
    border: none;
}
.icons button{
    color: white;
    background-color: transparent;
    border:none;
    font-size: 20px;
}
.icons button:hover{
    
    color:rgb(220, 5, 5) ;
}


.nav.scrolled {
    
    background-color: rgba(255, 255, 255, 0.958);
  }
  
  .nav.scrolled .logo{
    background-color: red;
    border-radius: 13px;
    height: 50px;
  }
.nav.scrolled .navMain ul a{
    color: red;
}
.nav.scrolled .navMain .icons button{
    color: red;
}
@media screen and (max-width: 1170px) {
    .nav ul {
      display: none;
    }
    .navMain .icons{
        width: 50%;
    }
  }

  @media screen and (max-width: 700px) {
    .navMain{
flex-direction: column;
    }
    .logo{
        display: none;
    }
  }